@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Global styles */
* {
   box-sizing: border-box;
   transition: all ease-in-out 250ms;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
   color: whitesmoke;
}


html {
   font-size: 62.5%; /* 1rem = 10px */


   @media (max-width: 1200px) {
       font-size: 56.25%; /* 1rem = 9px */
   }


   @media (max-width: 992px) {
       font-size: 50%; /* 1rem = 8px */
   }


   @media (max-width: 768px) {
       font-size: 43.75%; /* 1rem = 7px */
   }


   @media (max-width: 576px) {
       font-size: 37.5%; /* 1rem = 6px */
   }
}


body {
   overflow-x: hidden;
   overflow-y: auto;
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}


section {
   width: 100%;
   height: auto;
   background-color: rgb(35, 37, 36);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
}


nav {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   width: 80%;
   top: 10px;
}


/* Hero section styles */
.hero-section {
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/hero-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}


.navbar {
   padding-top: 5rem;
   font-size: 4rem;
}


.icons-p {
   padding: 1rem;
   background-color: gray;
   cursor: pointer;
}


.menu-bar {
   width: 3rem;
   filter: brightness(0) invert(1);
}


.hero-text-section {
   position: relative;
   top: 30%;
   text-align: center;
   padding: 2rem;
}


.hero-heading {
   font-size: 8rem;
   font-weight: 800;
   margin: 1rem;
}


.hero-text {
   margin: 1rem;
   font-size: 3rem;
   text-transform: capitalize;
   font-family: "Playwrite AU NSW";
}


/* About me section styles */
.about-me-section {
   padding: 5rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


.about-me-text {
   max-height: 70%;
   width: 50%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.about-me-text h1 {
   font-size: 5rem;
   margin: 2rem;
   text-align: center;
}


.about-me-text p {
   font-size: 2rem;
   margin-top: 2rem;
}


.about-me-text button {
   background-color: rgb(218, 159, 31);
   margin-top: 5rem;
   font-size: 2rem;
   padding: 1.5rem;
   border-radius: 1rem;
   text-transform: uppercase;
}


/* Project section styles */
.project-section {
   width:100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.project-section h1 {
   font-size: 5rem;
   margin: 4rem;
   text-align: center;
}


#hero-carousel {
   width: 30%;
   padding-top: 5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.carousel .carousel-indicators{
   bottom: -70px;
}


.carousel .carousel-indicators button {
   width: 20px;
   height: 20px;
   border-radius: 100%;
}




.c-item {
   height: auto;
   width: 100%;
}


.c-img {
   border-radius: 20px;
   height: 100%;
   max-width: 100%;
   object-fit: cover;
   filter: brightness(0.7);
}


/* Contact section styles */
.contact-section{
   padding-top: 10rem;
   font-size: 2.5rem;
   min-height: 100vh;
   max-height: fit-content;
}
.contact-section h1 {
   font-size: 5rem;
   margin: 4rem;
   text-align: center;
}
.contact-section .input-div
{
   margin-top: 4rem;
   width: 30%;
   font-size: 3rem;


}
.label-div{
   display: flex;
   flex-direction: column;
   margin-top: 1.5rem;
   border-radius: 1rem;
   gap: .3rem;
}
.label-div label{
   color: gray;
}
.label-div input{
   font-size: 1.5rem;
   padding: 1rem;
   color: black;


}
.email-id{
   padding-top: 4rem;
}
.contact-section button{
       background-color: rgb(218, 159, 31);
       margin-top: 5rem;
       font-size: 1.5rem;
       padding: 1.5rem;
       border-radius: 1rem;
       text-transform: uppercase;
   }


.label-div .dynamic-input{
   font-size: 1.5rem!important;
   padding: 1rem;
   color: gray;
}


/* Responsive styles */
@media (max-width: 768px) {
   .hero-heading {
       font-size: 5rem;
   }


   .hero-text {
       font-size: 2rem;
   }


   .about-me-text, .project-section {
       padding: 1rem;
       width: 100%;
   }


   .about-me-text h1, .project-section h1, .contact-section h1 {
       font-size: 2.5rem;
   }


   .about-me-text p, .about-me-text button {
       font-size: 1.25rem;
   }
}


/* HAMBURGER MENU */


.hamburger-menu {
   position: relative;
   display: inline-block;
}


.hamburger-icon {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 24px;
   width: 30px;
   cursor: pointer;
}


.hamburger-icon span {
   width: 100%;
   height: 2px;
   background-color: white;
   transition: all 0.3s ease-in-out;
}


.menu-links {
   position: absolute;
   top: 100%;
   right: 0;
   background-color: white;
   width: fit-content;
   max-height: 0;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
}


.menu-links a {
   padding: 2rem;
   padding-right: 2rem;
   display: block;
   text-align: left;
   font-size: 1.5rem;
   color: black;
   text-decoration: none;
   transition: all 0.3s ease-in-out;


}


.menu-links li {
   list-style: none;
}


.menu-links.open {
   max-height: 300px;
}


.hamburger-icon.open span:first-child {
   transform: rotate(45deg) translate(10px, 5px);
}


.hamburger-icon.open span:nth-child(2) {
   opacity: 0;
}


.hamburger-icon.open span:last-child {
   transform: rotate(-45deg) translate(10px, -5px);
}




@media (max-width: 576px) {
   .about-me-text {
       width: 100%;
   }


   .about-me-text h1, .project-section h1, .contact-section h1 {
       font-size: 2rem;
   }


   .about-me-text p, .about-me-text button {
       font-size: 1rem;
   }
}


@media (max-width: 768px) {
   .project-section {
       padding: 2rem;
   }


   .project-section h1 {
       font-size: 3rem;
       margin: 2rem;
   }


   #hero-carousel {
       padding-top: 2rem;
   }


   .c-item {
       height: auto;
       width: 100%;
   }


   .c-img {
       width: 100%;
       height: auto;
   }
}


@media (max-width: 576px) {
   .project-section {
       padding: 1rem;
   }


   .project-section h1 {
       font-size: 2.5rem;
       margin: 1.5rem;
   }


   #hero-carousel {
       padding-top: 1.5rem;
   }


   .c-item {
       height: auto;
       width: 100%;
   }


   .c-img {
       width: 100%;
       height: auto;
   }


   .carousel .carousel-indicators button {
       width: 5px;
       height: 5px;
       border-radius: 100%;
   }
}
